header{
    background-color: #2c3e50 !important;
}

.navbar-collapse{
    flex-grow: 0;
}

#profile{
    background-color: #1abc9c;
}

.bar{
    height: 5px;
    width: 70px;
    border-radius: 10px;
    margin: 0 auto;
}

.fa-star{
    font-size: 1.5em;
}

#profile-img{
    height: 400px;
    margin: auto;
}

img{
    border-radius: 5px;
    display: block;
}

#about{
    background-color: #1abc9c;
}

.container-70{
    width: 70%;
    margin: auto;
}

.message{
    height: 100px;
}

.btn-green{
    background-color: #1abc9c;
    color: white;
}

#contatti{
    background-color: #3a546d;
}

.circle{
    border: 1px solid white;
    border-radius: 50%;
    padding: 15px;
}

#fb{
    padding: 15px 18px;
}

#link{
    text-decoration: none;
    color: #1abc9c;
}

#copyright{
    background-color: #2c3e50;
}
